<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppPokedex"
        tools:targetApi="31">
        <activity
            android:name=".EditarPokemonActivity"
            android:exported="false" />
        <activity
            android:name=".AgregarPokemonActivity"
            android:exported="false" />
        <activity
            android:name=".Activity_item_buscador_fav"
            android:exported="false" />
        <activity
            android:name=".Carga"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Equipo_pokemon"
            android:exported="false" />
        <activity
            android:name=".Menu_equipos"
            android:exported="false" />
        <activity
            android:name=".Favoritos"
            android:exported="false" />
        <activity
            android:name=".Buscador"
            android:exported="false" />
        <activity
            android:name=".Ayuda"
            android:exported="false" />
        <activity
            android:name=".Informacion_entrenador"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="true" />
        <activity
            android:name=".Entrada_pokedex"
            android:exported="true" />
        <activity android:name=".Informacion_pokemon" />
        <activity android:name=".Registro" />
    </application>

</manifest>